footer
  .container.text-center
    p.float-left © 2020 GreenBridge, Inc. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/jwuedeman/demeter') GitHub Project
      li.list-inline-item
        a(href='https://github.com/jwuedeman/demeter') Issues
