extends layout

block content
  p
  |In ancient Greek religion and mythology, Demeter (/dɪˈmiːtər/; Attic: Δημήτηρ Dēmḗtēr [dɛːmɛ́ːtɛːr]; Doric: Δαμάτηρ Dāmā́tēr) is the goddess of the harvest and agriculture, presiding over grains and the fertility of the earth. Her cult titles include Sito (Σιτώ), "she of the Grain",[2] as the giver of food or grain,[3] and Thesmophoros (θεσμός, thesmos: divine order, unwritten law; φόρος, phoros: bringer, bearer), "Law-Bringer", as a mark of the civilized existence of agricultural society.[4]

  |Though Demeter is often described simply as the goddess of the harvest, she presided also over the sacred law, and the cycle of life and death.
